<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.cust.dao.CustDAO">
	<select id="custList" resultType="kr.happyjob.study.cust.vo.CustVO">
		select cust_name , cust_id
		from tb_cust_info
	</select>
	
	<insert id="custSave">
		insert into tb_cust_info (
			cust_name,
			cust_ph,
			cust_fax,
			cust_person,
			cust_person_ph,
			cust_zip,
			cust_addr,
			cust_detail_addr,
			biz_num,
			industry_code
		) VALUES (
			#{cust_name},
			#{cust_ph},
			#{cust_fax},
			#{cust_person},
            CONCAT(#{user_tel1}, '-', #{user_tel2}, '-', #{user_tel3}),
			#{cust_zip},
			#{cust_addr},
			#{cust_detail_addr},
			#{biz_num},
			#{industry_code}
		)
	</insert>
</mapper>